<%= form_for(@fight) do |f| %>
  <% if @fight.errors.any? %>
    <%= render 'errors' %>
  <% end %>
  <%= f.fields_for :fighters do |fighter| %>
    <%= fighter.collection_select :fighter_id, @fighters.order(:nickname), :id, :nickname, prompt: "Select fighter"%>

    <%= fighter.collection_select :opponent_id, @fighters.order(:nickname), :id, :nickname, prompt: "Select fighter"%>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
