<%= form_for @fight do |f| %>
  <% if @fight.errors.any? %>
    <%= render 'errors' %>
  <% end %>
  <%= f.fields_for :fighters do |fighter| %>

    <div class="row wrapper">
      <div class="col-sm-4 portfolio-item">
        <%= fighter.collection_select :fighter_id, @fighters.order(:nickname), :id, :nickname, prompt: "Select fighter" %>
        <span id="fighter-area">
        </span>
      </div>

      <div class="col-sm-2">
        <h2 class="text-center">VS</h2>
      </div>

      <div class="col-sm-4 portfolio-item">
        <%= fighter.collection_select :opponent_id, @fighters.order(:nickname), :id, :nickname, prompt: "Select fighter" %>
        <span id="opponent-area">
        </span>
      </div>
    </div>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: "btn btn-primary", id: "sendButton" %>
  </div>
<% end %>
